.login-bg {
  background: url("../images/signin/signin-bg.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  // padding: 102px;

  // @media (max-width: 781px) {
  //   padding: 0;
  // }
  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      color: $card-title-color;
      margin: 0 0 1rem;
    }

    input {
      background: $white !important;
      border: none;
      // border-radius: 5px !important;
      padding: 0rem 1.25rem;
    }

    input::placeholder {
      color: #8f8e94;
    }

    select {
      background: $white !important;
      border: none;
      border-radius: 5px !important;
    }

    .input-border {
      // border: 1px solid #000;
      // border-radius: 5px !important;
      // border: 1px solid #000;
      border-radius: 50% !important;
      // background: #fff;
      // border: 1px solid #e4e6ef;
      background-color: #f5f8fa !important;
      border-color: #f5f8fa;
      color: #5e6278;
      transition: color 0.2s ease, background-color 0.2s ease;
    }
  }

  .confirmation-form {
    label {
      margin: 0 0 1rem;
    }
  }

  .forgot-password {
    margin-right: 1rem;
    margin-top: 0;
  }

  .right-side-container {
    background: $kelaut-login-white;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-evenly;
    border-radius: 25px;
    padding: 30px 0px;

    .form-place {
      // max-height: 400px;
      overflow: auto;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      margin-top: 80px;
    }

    .sign-up-navigator {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-align: center;
    }
  }

  .left-side-container {
    background: $kelaut-login-white;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-between;
    border-radius: 25px;
    padding: 30px 0px;

    .form-place {
      // max-height: 320px;
      overflow: auto;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .thumbnail {
      img {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
    }
  }

  .thumbnail-container {
    text-align: center;
    margin-top: 45px;

    .thumbnail-title {
      font-size: 24px;
      color: $card-title-color;
      margin-bottom: 5px;
      // font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 33px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
  .thumbnail-title {
    font-size: 24px;
    color: $card-title-color;
    margin-bottom: 5px;
    // font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #323494;
  }

  .thumbnail-subtitle {
    color: #9592a6;
    // font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 2rem;
  }

  .link {
    color: $light-purple !important;
    font-size: 14px;
  }

  .suggestion {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 16px;
  }

  .fb-btn {
    padding: 10px;
    border-radius: 5px;
    background: $fb;
    margin: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .google-btn {
    padding: 10px;
    border-radius: 5px;
    background: $google;
    margin: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}

.kelaut-primary-btn {
  background: $kelaut-primary-btn-clr;
  color: $white;
  border-color: $kelaut-primary-btn-clr;
  font-weight: bold !important;
  border-radius: 25px;

  &:hover {
    background: $white;
    color: $kelaut-primary-btn-clr !important;
    border-color: $kelaut-primary-btn-clr;
  }
}

// .custom-input {
//   display: flex;
//   flex-direction: row;

//   input {
//     border-bottom-left-radius: 0px !important;
//     border-top-left-radius: 0px !important;
//     border-top-right-radius: 5px !important;
//     border-bottom-right-radius: 5px !important;
//   }

//   span {
//     padding: 12px 5px 12px 10px;
//     background: $white;
//     border-bottom-left-radius: 5px;
//     border-top-left-radius: 5px;
//     color: #8f8e94;
//     font-size: 18px;
//   }
// }
.default-custom-input {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;

  input {
    background: $white;
    // border-bottom-left-radius: 0px !important;
    // border-top-left-radius: 0px !important;
    // border-top-right-radius: 50px !important;
    // border-bottom-right-radius: 50px !important;
    border-radius: 50px !important;

    font-size: 14px;
  }

  span {
    background: $white;
    padding: 12px 5px 12px 10px;
    // border-bottom-left-radius: 50px;
    // border-top-left-radius: 50px;
    color: #8f8e94;
    font-size: 18px;
  }
}

.custom-input {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  height: 51px;
  position: relative;
  input {
    background: $white;
    // border-bottom-left-radius: 0px !important;
    // border-top-left-radius: 0px !important;
    // border-top-right-radius: 50px !important;
    // border-bottom-right-radius: 50px !important;
    border-radius: 50px !important;
    font-size: 14px;
    padding: 0rem 1.25rem 0rem 2.5rem !important;
  }

  span {
    position: absolute;
    background: $white;
    padding: 12px 5px 12px 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: #8f8e94;
    font-size: 18px;
  }
}

.error {
  color: $red;
  font-size: 14px;
}

.kelaut-form {
  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      color: $card-title-color;
    }

    input {
      background: $white !important;
      border: none;
      // border-radius: 5px !important;
    }

    select {
      background: $white !important;
      border: none;
      border-radius: 5px !important;
    }

    .input-border {
      // border: 1px solid #000;
      border-radius: 5px !important;
      // background: #fff;
      // border: 1px solid #e4e6ef;
      background-color: #f5f8fa !important;
      border-color: #f5f8fa;
      color: #5e6278;
      transition: color 0.2s ease, background-color 0.2s ease;
    }
  }
}

amplify-s3-image {
  width: 400px;
}

// .loader {
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   z-index: 9999;
//   background-color: rgba(255, 255, 255, 0.5);
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // color: #fff;
// }

.search {
  position: absolute;
  top: 1rem;
  right: 20px;
  // transform: translateX(-50%);
  // width: 100%;
  max-width: 200px;
  z-index: 100;

  // overflow: auto;
}

.search input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  z-index: 999;
}

.search .suggestions {
  z-index: 9999;
  background-color: #fff;
  overflow: auto;
  max-height: 120px;
}

.kelaut-select {
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: top;
  font-weight: bold;
  margin-bottom: 7px;
}

.kelaut-select-ui {
  margin-bottom: 10px;
  > div:nth-child(1) {
    // border: 1px solid #000;
    border-radius: 5px !important;
    padding: 4px 0px;
    background-color: #eeeeee;
    // border-color: #f5f8fa;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;
    // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    border: none;
  }
}

.login-container {
  max-width: 480px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.width-symbol {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.auth-link {
  font-size: 12px;
}

.kelaut-card-title {
  color: $kelaut-blue !important;
  font-weight: bold !important;
  font-size: 16px;
}

.kelaut-card-custom-action {
  width: 25px;
  transform: translate(22%, -17%);
}

.crew-input-modal {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.weather-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-box {
  background: $kelaut-light-grey;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;

  .weather-time {
    color: #9592a6;
    font-weight: bold;
  }

  .weather-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .weather-status {
    font-size: 10px;
    color: $kelaut-dark-blue;
  }

  .weather-status-box {
    width: 47px;
    .weather-cel {
      color: $light-purple;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.raining {
  background-color: #f4f9ff;
}

.booking-container {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:last-child {
    border: none;
  }
  .booking-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;

    .booking-detail {
      display: flex;
      align-items: center;
    }

    .boat-image {
      height: 50px;
      // height: 75px;
      border-radius: 5px;
      margin-right: 0.5rem;
    }

    .booking-info {
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .booking-number {
        color: $kelaut-blue;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 0px;
      }

      .boat-marker {
        color: #6eae54;
      }

      .boat-location {
        font-weight: bold;
        font-size: 12px;
        margin-left: 2px;
        margin-right: 2px;
      }

      .boat-state {
        color: #9592a6;
        font-size: 12px;
      }
    }
  }
}

.booking-date {
  .day {
    font-weight: bold;
    color: $kelaut-blue;
    font-style: normal;
    font-size: 10px !important;
    line-height: 14px;
    text-align: center;
    margin-bottom: 5px;
  }

  .date {
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 14px;
    text-align: center;

    color: #c9c8d2;
    margin-bottom: 5px;
  }

  .month {
    font-style: normal;
    font-weight: bold;
    font-size: 10px !important;
    line-height: 14px;
    text-align: center;

    color: #c9c8d2;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
.bottom-menu {
  display: flex;
  flex-direction: row-reverse;
  // padding: 10px 16px;
  padding: 1rem 1.5rem;
  cursor: pointer;

  .bottom-menu-text {
    color: $kelaut-blue;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.back-page-container {
  font-size: 14px;
  color: $kelaut-blue;
  cursor: pointer;

  p {
    font-weight: bold;
    i {
      margin-right: 5px;
    }
  }
}

.weather-forecast {
  padding: 5px;
  .header {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 12px;
    justify-content: space-between;
    padding: 6px 5px;

    .date-section {
      width: 10px;
      height: 10px;
    }
    .time-section {
      display: flex;
      flex-direction: row;
      div {
        margin: 0px 5px;
        width: 70px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding: 8px 0px;

    .date-data {
      .day {
        font-weight: bold;
        color: #000;
      }

      .month {
        color: #9592a6;
      }
    }

    .symbol {
      display: flex;
      flex-direction: row;

      .morning {
        width: 70px;
        .image {
          svg {
            height: 20px;
            width: 20px;
          }
          span {
            color: $kelaut-blue;
            margin-left: 5px;
          }
        }
      }

      .evening {
        width: 70px;
        .image {
          svg {
            height: 20px;
            width: 20px;
          }

          span {
            color: $kelaut-blue;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.grey-card {
  background: #fafafa;
}

.form-control {
  border: none !important;
}

.grey-input {
  background: #e5e5e5 !important;
  border: none;
}

.boat-summary {
  .boat-name {
    font-size: 24px;
    color: $kelaut-blue;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .boat-location {
    font-size: 14px;

    .place-symbol {
      color: #6eae54;
    }

    .place {
      font-weight: bold;
    }

    .state {
      color: #9592a6;
    }

    .boat-description {
      font-size: 16px;
      line-height: 21.79px;
    }
  }

  .boat-rating {
    display: flex;
    flex-direction: row;

    .number-rating {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #9592a6;
      margin-right: 10px;
    }

    .total-rating {
      font-size: 14px;
      letter-spacing: 0em;
      text-align: left;
      color: #9592a6;
    }
  }
}

.display-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .title {
    color: $kelaut-date-grey;
    font-size: 12px;
    margin-bottom: 2px;
  }

  .detail {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.bullet-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  .bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $kelaut-date-grey;
    margin-right: 12px;
    margin-top: 7px;
  }

  .detail {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.package {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;

  .title {
    margin-bottom: 5px;
    p {
      font-size: 14px;
      color: $light-purple;
      font-weight: bold;
      margin-bottom: 0px;
    }
  }

  .price {
    p {
      font-size: 14px;
      color: orange;
      font-weight: bold;
    }
  }

  .description-header {
    p {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .description-content {
    p {
      font-size: 14px;
      margin-bottom: 6px;
    }
  }
}
.crew-input-modal {
  .modal-dialog {
    // margin: 1.5rem;
    padding: 1em;
    margin: auto;
  }
  .modal-content {
    background-color: #fff;
    border: none;
    border-radius: 10px;
  }
  .crew-modal-header {
    border-bottom: none;
    color: #323494;
    .modal-title {
      font-weight: 700;
    }
  }
  .crew-modal-body {
    label {
      font-weight: 700;
      color: #333269;
    }
    .form-control {
      height: 38px;
      background-color: #eeeeee;
      border: none;
      color: #1b1d2f !important;
      font-size: 13px;
    }
    input::placeholder {
      color: #9592a6;
    }
    .default-custom-input {
      box-shadow: none;
    }
    .float-right {
      float: none;
      width: 100%;
      button {
        width: 100%;
      }
    }
    hr {
      display: none;
    }
  }
  .kelaut-form-div {
    padding: 0;
  }
}

.ub-dashboard {
  margin-top: 1rem;
  tr {
    //border-bottom: #eeeeee;
    border-bottom: #eeeeee solid 2px;
  }

  td {
    padding: 0.5rem 0.25rem;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  .badge-time {
    color: #000;
    font-weight: bold;
    background-color: #eeeeee;
  }
}

.add-button {
  color: $kelaut-blue;
  font-size: 30px;
  transform: translate(22%, -35%);
}

.sub-menu {
  position: relative;
  display: inline-block;
  .icon {
    cursor: pointer;
    margin-bottom: 2px;
    font-size: 20px;
  }

  .content {
    position: absolute;
    margin-top: -10px;
    background-color: #fff !important;
    min-width: auto;
    overflow: auto;
    background: $kelaut-login-white;
    // border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    z-index: 1;
    transform: translate(-60%);
    padding: 0;
    border-radius: 5px;

    li {
      list-style: none;
      cursor: pointer;
      padding: 10px;
      text-align: left;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.kelaut-textarea-ui {
  width: 100%;
  border-radius: 25px;
  min-height: 240px !important;
}

.characters-left {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #b5b5b5;
  font-size: 10px;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: $kelaut-blue;
    margin-top: 5px;
    font-weight: bold;
    animation: fadeIn ease 4s infinite;
  }

  .loader {
    position: relative;
    width: 75px;
    height: 100px;

    &__bar {
      position: absolute;
      bottom: 0;
      width: 10px;
      height: 20%;
      background: $kelaut-blue;
      transform-origin: center bottom;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: ($i - 1) * 15px;
          transform: scale(1, $i * 0.2);
          animation: barUp#{$i} 4s infinite;
        }
      }
    }

    &__ball {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 10px;
      height: 10px;
      background: $kelaut-blue;
      border-radius: 50%;
      animation: ball 4s infinite;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes ball {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(8px, -14px);
    }
    10% {
      transform: translate(15px, -10px);
    }
    17% {
      transform: translate(23px, -24px);
    }
    20% {
      transform: translate(30px, -20px);
    }
    27% {
      transform: translate(38px, -34px);
    }
    30% {
      transform: translate(45px, -30px);
    }
    37% {
      transform: translate(53px, -44px);
    }
    40% {
      transform: translate(60px, -40px);
    }
    50% {
      transform: translate(60px, 0);
    }
    57% {
      transform: translate(53px, -14px);
    }
    60% {
      transform: translate(45px, -10px);
    }
    67% {
      transform: translate(37px, -24px);
    }
    70% {
      transform: translate(30px, -20px);
    }
    77% {
      transform: translate(22px, -34px);
    }
    80% {
      transform: translate(15px, -30px);
    }
    87% {
      transform: translate(7px, -44px);
    }
    90% {
      transform: translate(0, -40px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
    40% {
      transform: scale(1, 0.2);
    }
    50% {
      transform: scale(1, 1);
    }
    90% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 0.2);
    }
  }
  @keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
    40% {
      transform: scale(1, 0.4);
    }
    50% {
      transform: scale(1, 0.8);
    }
    90% {
      transform: scale(1, 0.8);
    }
    100% {
      transform: scale(1, 0.4);
    }
  }
  @keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
    100% {
      transform: scale(1, 0.6);
    }
  }
  @keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
    40% {
      transform: scale(1, 0.8);
    }
    50% {
      transform: scale(1, 0.4);
    }
    90% {
      transform: scale(1, 0.4);
    }
    100% {
      transform: scale(1, 0.8);
    }
  }
  @keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
    40% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.2);
    }
    90% {
      transform: scale(1, 0.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

.delete-modal {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .message {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    .name {
      color: $kelaut-blue !important;
    }
  }
}

.remove-item {
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  color: red;
}

.table-booking {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  tr td {
    padding: 0.5rem 0;
  }
  .date-col {
    padding-right: 0;
  }

  .date-col-alert {
    padding: 0;
  }
  .loc-col-alert {
    padding: 0;
  }
  .time-col-alert {
    padding: 0;
  }

  .critical-booking {
    display: flex;
    background-color: #323494;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;

    .critical-loc,
    .date,
    .month {
      color: #ffffff;
    }

    p.day {
      color: #ecd342;
    }

    .badge {
      color: #000000;
      font-weight: bold;
    }
  }

  .normal-booking {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;

    .critical-loc,
    .date,
    .month {
      color: #9592a6;
    }

    .loc-name {
      color: #5855d6;
    }

    p.day {
      color: #5855d6;
    }

    .badge {
      color: #000000;
      font-weight: bold;
    }
  }
}

.b-detail {
  .b-detail-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      font-weight: bold;
      color: #9592a6;
      font-size: 0.75rem;
    }

    .number {
      font-weight: bold;
      color: #323494;
      font-size: 1.5rem;
    }

    .b-print-img {
      width: 30px;
      height: 30px;
    }
  }

  .b-cust-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cust-detail {
      .row {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
      }

      p {
        margin-bottom: 0;
      }

      .label {
        font-size: 0.75rem;
        color: #9592a6;
      }

      .value {
        font-size: 1rem;
        font-weight: bold;
        color: #000000;
      }
    }
  }

  .boat-info {
    display: flex;
    margin-top: 1rem;

    .boat-name {
      font-weight: bold;
      font-size: 16px;
      color: #000000;
      margin-bottom: 0.25rem;
    }

    img {
      height: 80px;
      width: 80px;
      border-radius: 10px;
    }

    .boat-info-detail {
      margin-left: 1rem;
    }

    .boat-crews {
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      color: #9592a6;
    }

    .boat-crews li::marker {
      color: #323494; /* Change the color */
    }
  }

  .btn {
    width: 100%;
    margin-bottom: 1rem;
    height: 46px;
    font-size: 1rem;
    font-weight: bold;
    color: #ebebeb;
    border-radius: 5px;
    border: none;
  }

  .b-postpone {
    background-color: #323232;
  }

  .b-postpone:active {
    background-color: #323232a8;
  }

  .b-cancel {
    background-color: #ff2c56;
  }

  .b-cancel:active {
    background-color: #ff2c56a8;
  }
}
.bd-booking-info {
  .row {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  .label {
    font-size: 0.75rem;
    color: #9592a6;
  }

  .value {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
  }

  .money {
    color: #e9a022;
  }
}

.bd-package-info {
  .row {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  .label {
    font-size: 0.75rem;
    color: #9592a6;
  }

  .value {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
  }
}

.weather-map {
  margin: -1.875rem -1.75rem;
}

.kelaut-upload {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px dotted #c7c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  i {
    margin-right: 5px;
  }
  p {
    font-size: 13px;
    color: #9592a6;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.boat-photo-list {
  .first {
    height: 185px;
    width: 100%;
    margin: 5px;
    img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
      // padding: 5px;
      object-fit: cover;
    }
  }

  .another {
    height: 100px;
    display: flex;
    flex-direction: row;

    .image-container {
      height: 100%;
      width: 100%;
      min-width: 30%;
      max-width: 35%;
      position: relative;
      margin: 5px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }

      .indicator {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        background: rgba(1, 1, 1, 0.5);
        top: 0;
        padding: 0;
        border-radius: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        right: 0;
        left: 0;
      }
    }
  }
}

.photo-container {
  position: relative;
  .photo-list {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    margin: 5px;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: row;
      img {
        height: 50px;
        width: 50px;
        min-width: 50px;
        margin-right: 10px;
      }
    }

    .img-info {
      width: 90%;
      overflow-wrap: anywhere;
    }

    .action-btn {
      color: red;
    }
  }

  .delete-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 0px;
    }

    .action-container {
      cursor: pointer;

      span {
        margin: 0px 5px;
        font-size: 18px;
      }

      .delete {
        color: red;
      }
      .proceed {
        color: $kelaut-blue;
      }
    }
  }
}

.image-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  cursor: pointer;

  &.wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-wrap {
    position: relative;

    img {
      width: 100px;
      height: 100px;
      object-fit: fill;
      border-radius: 50%;
    }

    .full-width-img {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }

    .image-change-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      button {
        background: $kelaut-blue;
        border-radius: 50%;
        color: $white;
        border: none;
        display: block;
        height: auto;
        width: auto;
      }
    }
  }
}

.simple-tr {
  ul {
    position: absolute;
    display: block;
    margin-top: -10px;
    li {
      list-style: none;
      .action-col {
        z-index: 200;
        right: 0;
        top: 0;
      }
      //
    }
  }
}

.kelaut-boat-crew {
  .border {
    border: 1px dashed #9592a6 !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
  }

  .action {
    font-weight: bold;
    color: #9592a6;
    cursor: pointer;
  }

  .crew-profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .detail-container {
      display: flex;
      flex-direction: row;
      width: 80%;

      .crew-image {
        border-radius: 50%;
        height: 55px;
        width: 55px;
      }

      .avatar {
        border-radius: 50%;
        height: 55px;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $kelaut-blue;
        color: #fff;
        position: relative;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .crew-detail {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 5px;

        .name {
          font-weight: bold;
          font-size: 0.85rem;
          margin-bottom: 5px;
        }

        .crew-role {
          width: 100%;
          div {
            background: #eeeeee;
            border-radius: 25px;
            font-size: 13px;
            color: #000;
            span {
              background: none;
            }
          }
        }
      }
    }

    .crew-action {
      font-size: 28px;
      color: #979797;
    }
  }

  .crew-list {
    width: 100%;

    div {
      border-radius: 25px;
      background: #323494;
      color: #fff;
      span {
        background: none;
      }
    }
  }
}

.kelaut-boat-crew-read {
  .border {
    border: none !important;
    border-bottom: 1px solid #eeeeee !important;
    // padding: 20px;
    margin: 10px 5px;
    &:last-child {
      border-bottom: none !important;
    }
  }

  .action {
    font-weight: bold;
    color: #9592a6;
    cursor: pointer;
  }

  .crew-profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .detail-container {
      display: flex;
      flex-direction: row;
      width: 80%;

      .crew-image {
        border-radius: 50%;
        height: 55px;
        width: 55px;
      }

      .avatar {
        border-radius: 50%;
        height: 55px;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $kelaut-blue;
        color: #fff;
        position: relative;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .crew-detail {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 5px;

        .name {
          font-weight: bold;
          font-size: 0.85rem;
          margin-bottom: 5px;
        }

        .crew-role {
          width: 100%;
          div {
            background: #eeeeee;
            border-radius: 25px;
            font-size: 13px;
            color: #000;
            span {
              background: none;
            }
          }
        }
      }
    }

    .crew-action {
      font-size: 28px;
      color: #979797;
    }
  }

  .crew-list {
    width: 100%;

    div {
      border-radius: 25px;
      background: #323494;
      color: #fff;
      span {
        background: none;
      }
    }
  }
}

.kelaut-danger-btn {
  background-color: #ff2c55;
  border: 1px solid #ff2c55;
}

.profile-with-avatar {
  padding: 0;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;

  .backdrop {
    position: relative;
    height: 74px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .action {
      color: #fff;
      top: 5px;
      right: 5px;
      position: absolute;
      font-size: 15px;
    }
  }

  .profile-detail {
    position: relative;
    display: flex;

    justify-content: row;

    .avatar {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $kelaut-blue;
      color: #fff;
      top: -30px;
      position: relative;
      border: 5px solid #fff;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .profile-image {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      top: -30px;
      position: relative;
      img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
        border: 5px solid #fff;
      }
    }

    .summary {
      padding: 10px;
      width: 60%;

      .name {
        font-size: 20px;
        color: #323494;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .extra-info {
        .symbol {
          color: #6eae54;
          margin-right: 5px;
          font-size: 12px;
        }

        .detail {
          color: #808080;
          font-size: 12px;
        }
      }
    }
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    .btn-default {
      color: #1b1d2f;
      font-size: 12px;
      margin: 2px;
      background: #eeeeee !important;
      border-radius: 25px;
      font-weight: 400;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 10;
    }
  }
}

.avatar-sm {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $kelaut-blue;
  color: #fff;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.weather-icon-container {
  display: inline-block;
  .small {
    width: 20px;
    height: 20px;
  }
  .medium {
    width: 50px;
    height: 50px;
  }

  .weather-icon {
    height: 100%;
    width: 100%;
  }
}

.form-label {
  font-weight: 700;
  color: #333269;
}

body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 22px;
  background: #ee8e4a;
  top: 3px;
  left: -24px;
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
  z-index: 1040;
}

.navbar-toggler {
  z-index: 1045;
}

.kelaut-date-picker {
  position: relative;
  margin-bottom: 1rem;
  .dummy-input {
    height: 38px;
    background-color: #eeeeee;
    border: none;
    color: #1b1d2f !important;
    font-size: 13px;
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.94rem 0.75rem;
    // justify-content: space-between;
    position: relative;
    i {
      position: absolute;
      top: 8px;
      right: 0.75rem;
      font-size: 15px;
    }
  }
  .calendar {
    position: absolute;
    top: 64px;
    width: 100%;
    z-index: 1030;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .calendar-container {
      background: #fff;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }
}
