.table {
  td {
    vertical-align: middle;
  }

  tr:first-child td {
    border-top: none;
  }

  .avilable-icon {
    width: 16px;
  }

  .table-simple-kelaut {
    margin-top: 29px;
  }

  .action-col {
    text-align: right;
    padding-right: 0;
    min-width: 10%;
    max-width: 10%;
  }

  .boat-name {
    // padding-left: 0;
    text-align: left;
    font-weight: bold;
    min-width: 80%;
    max-width: 80%;
  }

  .status-col {
    width: 16px;
    padding-right: 0;
    min-width: 10%;
    max-width: 10%;
  }

  .custom-action {
    padding: 0px;
  }

  .simple-tr {
    cursor: pointer;
  }
}
