/* Tables */

.table {
  margin-bottom: 0;
  color: $body-color;
  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-family: $open-sans;
      font-weight: $font-weight-medium;
      i {
        margin-left: 0.325rem;
      }
      border-bottom: 1px solid #eeeeee;
    }

    td {
      border-top: none;
    }
  }
  tbody {
    td {
      border-top: 1px solid #eeeeee;
    }
  }
  th,
  td {
    // vertical-align: middle;
    font-size: $default-font-size;
    line-height: 1;
    color: $table-td-color;
    font-weight: bold;
    // border-top: 1px solid #eeeeee;
    border-top: none;
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
    .badge {
      margin-bottom: 0;
    }
  }
  &.table-borderless {
    border: none;
    tr,
    td,
    th {
      border: none;
    }
  }
}
